.container {
  width: 100%;
  max-width: 600px;
  height: 100vh;
  margin-inline: auto;
}

.inputValidator {
  position: absolute;
  top: calc(2em + 3px);
  right: calc(1em + 5px);
  display: block;
  width: 16px;
  height: calc(1em + 5px);
}

.inputValidator[data-input-state='loader'] {
  background-color: var(--primary);
  clip-path: polygon(25% 0, 75% 0, 25% 100%, 75% 100%);
  animation: spin 0.8s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.inputValidator[data-input-state='available'] {
  background-color: var(--success);
  clip-path: polygon(
    34% 82%,
    90% 20%,
    92% 44%,
    44% 100%,
    25% 100%,
    5% 78%,
    9% 57%
  );
}

.inputValidator[data-input-state='not available'] {
  background-color: var(--error);
  clip-path: polygon(
    0 36%,
    15% 18%,
    51% 49%,
    83% 19%,
    100% 36%,
    67% 63%,
    100% 85%,
    81% 100%,
    51% 73%,
    15% 100%,
    0 83%,
    34% 61%
  );
}

.inputValidator[data-input-state='error'] {
  background-color: var(--error);
  clip-path: polygon(
    31% 56%,
    25% 16%,
    51% 7%,
    77% 17%,
    67% 57%,
    49% 69%,
    48% 82%,
    63% 91%,
    49% 100%,
    33% 90%,
    48% 82%,
    49% 69%
  );
}
