.overlay,
.nav,
.menu {
  position: fixed;
  top: 0;
  left: 0;
}

.containerInvisible {
  display: none;
}

.overlayShow {
  width: 100vw;
  height: 100vh;
}

.nav {
  z-index: 110;
  padding-top: 8px;
  padding-left: 8px;
}

.icon {
  width: 48px;
  padding: 8px;
  border-radius: 50%;
  fill: var(--contrast);
  cursor: pointer;
  transition: transform 0.25s;
}

.icon:hover {
  background-color: var(--primary);
  transform: rotate(45deg);
}

.icon.iconActive {
  background-color: var(--primary);
  transform: rotate(200deg);
}

.menu {
  width: 296px;
  margin-block: 0;
  padding: 72px 8px 32px;
  background: linear-gradient(
    to bottom,
    var(--primary) 48px,
    var(--secondary) 48px,
    var(--secondary)
  );
  clip-path: circle(0 at 0 0);
  border-radius: 0 0 4px 0;
  transition: clip-path 0.5s ease-in-out;
}

.menu li {
  list-style: none;
}

.menu > li:not(:last-of-type) {
  margin-bottom: 1px;
  box-shadow: 0 1px var(--background);
}

.menuOpen {
  clip-path: circle(calc(100% + 300px) at 0 0);
}
