:root {
  --dark-background: #0e1116;
  --black: #131516;
  --black-75: #4e4f50;
  --black-50: #898a8a;
  --black-25: #c4c4c5;
  --black-10: #e7e7e8;
  --black-5: #f3f3f3;
  --blue-1: #404bdb;
  --blue-2: #4379e6;
  --blue-3: #4697ce;
  --blue-4: #43cfe6;
  --blue-5: #40dbc6;
  --violet: #7d24bc;
  --gray: #33444f;
  --green: #76c893;
  --red: #ff595e;
}

[data-theme='light'] {
  --primary: var(--blue-3);
  --secondary: var(--violet);
  --background: var(--black-5);
  --contrast: var(--black);
  --text-color: var(--black);
  --success: var(--green);
  --error: var(--red);
}

[data-theme='dark'] {
  --primary: var(--blue-3);
  --secondary: var(--blue-1);
  --thirdy: var(--blue-2);
  --background: var(--dark-background);
  --contrast: var(--black-10);
  --text-color: var(--black-10);
  --success: var(--green);
  --error: var(--red);
}
