.small {
  font-size: 0.9rem;
}

.h6 {
  font-size: 1.1rem;
  font-weight: 400;
}

.h5 {
  font-size: 1.3rem;
  font-weight: 700;
}

.h4 {
  font-size: 1.6rem;
  font-weight: 700;
}

.h3 {
  font-size: 2.1rem;
  font-weight: 400;
}

.h2 {
  font-size: 2.9rem;
  font-weight: 400;
}

.h1 {
  font-size: 4.2rem;
  font-weight: 700;
}

.textError {
  color: var(--error);
}

.textSuccess {
  color: var(--success);
}

.textCenter {
  text-align: center;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
